Use provided information of operating system and environment to generate terminal command as per user query as per instructions.
Instructions :
1.Don't generate any information of command.
2.Only generate command in in markdown format.
3.Only generate command in output.
4.Don't generate any text to tell how command works.

{sys_info}
query : {user_query}